html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: linear-gradient(to right top, #baeeae, #a6edbc, #95ebc9, #89e8d6, #83e4e1, #7ce4df, #76e5dc, #6fe5d9, #76e9c0, #90eaa0, #b3e77e, #dce160);
  background-size: cover;
  height: 100%;
  margin: 0px;
}
.logo {
  height: 250px;
  width: 320px;
  margin-left: auto;
  align-content: center;
  margin-right: auto;
  display: flex;
  justify-content: center;
  
}
    .content{
      display: flex;
      flex-direction: row;
      font-size: 20px;
      gap: 5px;
      max-width: 100%;
      justify-content: center; 
    }
    .food {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    gap: 5px;
    align-items: center;
    max-width: 100%;
    font-family:"Verdana", sans-serif;
    color:rgb(80,50,100);
    text-shadow: 1px 1px 1px #000000;;
 }
    p{
  display: flex;
  justify-content: center;
    }

h3 {
  text-align: center;
  font-size:30px;
  font-family:"Verdana", sans-serif;
  color: rgb(80,50,100);
  margin-top:0px;
  border-top:0px;
  padding-top:0px;
  padding-bottom: 10px;
  height:5%;
}

.footer{
  text-align: center;
  background-color: greenyellow;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  font-family: "Verdana", sans-serif;
}

